/* Signup.css */

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1c486f;
}

.signup-form {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 600px;
    text-align: center;
}

@media(max-width: 768px) {
    .signup-form {
        background: #ffffff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 400px;
        text-align: center;
    }
}

.signup-form h2 {
    margin-bottom: 20px;
}

.signup-form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.signup-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #ee8122;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #357ABD;
}

.social-login {
    margin: 20px 0;
}

.social-login button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.btn-google {
    background-color: #db4437;
}

.btn-google:hover {
    background-color: #c23321;
}

.btn-facebook {
    background-color: #3b5998;
}

.btn-facebook:hover {
    background-color: #2d4373;
}

.error-msg {
    color: red;
    margin-bottom: 15px;
}

.logo {
    width: 50%;
}